<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="VerintDB" connectionString="Data Source=10.40.4.99;Initial Catalog=VerintAPICapture;Integrated Security=false;persist security info=True; User ID=SQL_EFHybridchat;pwd=Tech@Lifeline2020!; MultipleActiveResultSets=true"/>
    <add name="VerintWFM" connectionString="Data Source=10.40.4.99;Initial Catalog=Verint_Connector;Integrated Security=false;persist security info=True; User ID=SQL_EFHybridchat;pwd=Tech@Lifeline2020!; MultipleActiveResultSets=true"/>
  </connectionStrings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>  
                 <!--<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>-->
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral"/>  
                 <bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0"/>  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
