<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="VerintDB" connectionString="Data Source=eflsn.iptel.lifeline.org.au;Initial Catalog=VerintAPICapture;Integrated Security=false;persist security info=True; User ID=SQL_EFHybridchat;pwd=Tech@Lifeline2020!; MultipleActiveResultSets=true"/>
		<add name="VerintWFM" connectionString="Data Source=eflsn.iptel.lifeline.org.au;Initial Catalog=Verint_Connector;Integrated Security=false;persist security info=True; User ID=SQL_EFHybridchat;pwd=Tech@Lifeline2020!; MultipleActiveResultSets=true"/>

		<!--<add name="VerintDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VerintAPICapture;Integrated Security=True;persist security info=True; User ID=sa;pwd=password1$; MultipleActiveResultSets=true" />
    <add name="VerintWFM" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Verint_Connector;Integrated Security=True;persist security info=True; User ID=sa;pwd=password1$; MultipleActiveResultSets=true" />-->
	</connectionStrings>
</configuration>